body {
  margin: 0;
  padding: 0;
  font-family: Sans-serif;
  background-image: url(minimal1.jpg);
  background-size: 100% ;
  background-attachment: fixed;
}
div.header{
   opacity: 100%;
   width: 100%;
   height: 10%;
      background-color: #034f84;
 }

 div.header_text{
 	text-align: left;
 	 font-family: "Times New Roman", Times, serif;
 	 font-size: 50px;

 }

  div.addno{
      text-align: left;
      font-family: "Times New Roman", Times, serif;
      font-size: 20px;
 }

 input[type=text] {
     width: 20%;
     height: 20%
     padding: 12px 20px;
     margin: 0 auto;
     box-sizing: border-box;
 }


 .probutton {
 display: inline-block;
 border-radius: 4px;
 background-color: #cfe0e8;
 border: none;
 color: #000000;
 text-align: center;
 font-size: 20px;
 padding: 32px 32px;

 transition: all 0.5s;
 cursor: pointer;
 margin: 5px;

 }

 .probutton span {
 cursor: pointer;
 display: inline-block;
 position: relative;
 transition: 0.5s;
 }

 .probutton span:after {
 content: '\00bb';
 position: absolute;
 opacity: 0;
 top: 0;
 right: -20px;
 transition: 0.5s;
 }

 .probutton:hover span {
 padding-right: 25px;
 }

 .probutton:hover span:after {
 opacity: 1;
 right: 0;
 }

 .probutton {
 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 }

 .probutton:hover {
 box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
 }




 .probutton1 {
 display: inline-block;
 border-radius: 4px;
 background-color: #b7d7e8;
 border: none;
 color: #000000;
 text-align: center;
 font-size: 20px;
 padding: 32px 32px;

 transition: all 0.5s;
 cursor: pointer;
 margin: 5px;

 }

 .probutton1 span {
 cursor: pointer;
 display: inline-block;
 position: relative;
 transition: 0.5s;
 }

 .probutton1 span:after {
 content: '\00bb';
 position: absolute;
 opacity: 0;
 top: 0;
 right: -20px;
 transition: 0.5s;
 }

 .probutton1:hover span {
 padding-right: 25px;
 }

 .probutton1:hover span:after {
 opacity: 1;
 right: 0;
 }

 .probutton1 {
 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 }

 .probutton1:hover {
 box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
 }


 .probutton2 {
 display: inline-block;
 border-radius: 4px;
 background-color: #87bdd8;
 border: none;
 color: #000000;
 text-align: center;
 font-size: 20px;
 padding: 32px 32px;

 transition: all 0.5s;
 cursor: pointer;
 margin: 5px;

 }

 .probutton2 span {
 cursor: pointer;
 display: inline-block;
 position: relative;
 transition: 0.5s;
 }

 .probutton2 span:after {
 content: '\00bb';
 position: absolute;
 opacity: 0;
 top: 0;
 right: -20px;
 transition: 0.5s;
 }

 .probutton2:hover span {
 padding-right: 25px;
 }

 .probutton2:hover span:after {
 opacity: 1;
 right: 0;
 }

 .probutton2 {
 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 }

 .probutton2:hover {
 box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
 }
